*
	box-sizing: border-box

html
	font-size: 18px
	line-height: 18px

body
	font-family: helvetica, arial, sans-serif
	background-color: $color-white
	color: $color-slate
	text-align: center

#page-container
	display: inline-block
	margin: 0 auto

h1
	margin-top: 2rem
	font-size: 4rem
	line-height: 4rem