/* line 7, sass/threelines.sass */
.threelines {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 12, sass/threelines.sass */
.threelines .line {
  position: absolute;
  display: inline-block;
  transition: all 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 21, sass/threelines.sass */
.threelines[data-frame="three-bar-horizontal"] .line:nth-child(1) {
  left: 50%;
  top: 25%;
  width: 80%;
  height: 15%;
}
/* line 27, sass/threelines.sass */
.threelines[data-frame="three-bar-horizontal"] .line:nth-child(2) {
  left: 50%;
  top: 50%;
  width: 80%;
  height: 15%;
}
/* line 33, sass/threelines.sass */
.threelines[data-frame="three-bar-horizontal"] .line:nth-child(3) {
  left: 50%;
  top: 75%;
  width: 80%;
  height: 15%;
}
/* line 40, sass/threelines.sass */
.threelines[data-frame="three-bar-vertical"] .line {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
/* line 42, sass/threelines.sass */
.threelines[data-frame="three-bar-vertical"] .line:nth-child(1) {
  left: 75%;
  top: 50%;
  width: 80%;
  height: 15%;
}
/* line 48, sass/threelines.sass */
.threelines[data-frame="three-bar-vertical"] .line:nth-child(2) {
  left: 50%;
  top: 50%;
  width: 80%;
  height: 15%;
}
/* line 54, sass/threelines.sass */
.threelines[data-frame="three-bar-vertical"] .line:nth-child(3) {
  left: 25%;
  top: 50%;
  width: 80%;
  height: 15%;
}
/* line 62, sass/threelines.sass */
.threelines[data-frame="close"] .line:nth-child(1) {
  left: 50%;
  top: 50%;
  width: 100%;
  height: 15%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* line 69, sass/threelines.sass */
.threelines[data-frame="close"] .line:nth-child(2) {
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  opacity: 0;
}
/* line 76, sass/threelines.sass */
.threelines[data-frame="close"] .line:nth-child(3) {
  left: 50%;
  top: 50%;
  width: 100%;
  height: 15%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
/* line 84, sass/threelines.sass */
.threelines[data-frame="three-dots"] .line {
  left: 50%;
  border-radius: 100%;
  width: 10%;
  height: 10%;
}
/* line 90, sass/threelines.sass */
.threelines[data-frame="three-dots"] .line:nth-child(1) {
  top: 25%;
}
/* line 93, sass/threelines.sass */
.threelines[data-frame="three-dots"] .line:nth-child(2) {
  top: 50%;
}
/* line 96, sass/threelines.sass */
.threelines[data-frame="three-dots"] .line:nth-child(3) {
  top: 75%;
}
/* line 100, sass/threelines.sass */
.threelines[data-frame="two-dots"] .line {
  width: 20%;
  height: 20%;
  left: 50%;
  border-radius: 100%;
}
/* line 106, sass/threelines.sass */
.threelines[data-frame="two-dots"] .line:nth-child(1) {
  top: 35%;
}
/* line 109, sass/threelines.sass */
.threelines[data-frame="two-dots"] .line:nth-child(2) {
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}
/* line 115, sass/threelines.sass */
.threelines[data-frame="two-dots"] .line:nth-child(3) {
  top: 65%;
}
/* line 119, sass/threelines.sass */
.threelines[data-frame="dot"] .line {
  border-radius: 100%;
}
/* line 122, sass/threelines.sass */
.threelines[data-frame="dot"] .line:nth-child(1) {
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}
/* line 128, sass/threelines.sass */
.threelines[data-frame="dot"] .line:nth-child(2) {
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
}
/* line 134, sass/threelines.sass */
.threelines[data-frame="dot"] .line:nth-child(3) {
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}

/*@ sourceMappingURL=threelines.css.map */