/* line 9, sass/threelines.sass */
.threelines {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 14, sass/threelines.sass */
.threelines .line {
  position: absolute;
  display: inline-block;
  background-color: #2f2f3f;
  transition: all 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 24, sass/threelines.sass */
.threelines[data-frame="menu"] .line:nth-child(1) {
  left: 50%;
  top: 25%;
  width: 80%;
  height: 15%;
}
/* line 30, sass/threelines.sass */
.threelines[data-frame="menu"] .line:nth-child(2) {
  left: 50%;
  top: 50%;
  width: 80%;
  height: 15%;
}
/* line 36, sass/threelines.sass */
.threelines[data-frame="menu"] .line:nth-child(3) {
  left: 50%;
  top: 75%;
  width: 80%;
  height: 15%;
}
/* line 44, sass/threelines.sass */
.threelines[data-frame="close"] .line:nth-child(1) {
  left: 50%;
  top: 50%;
  width: 100%;
  height: 15%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* line 51, sass/threelines.sass */
.threelines[data-frame="close"] .line:nth-child(2) {
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  opacity: 0;
}
/* line 58, sass/threelines.sass */
.threelines[data-frame="close"] .line:nth-child(3) {
  left: 50%;
  top: 50%;
  width: 100%;
  height: 15%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
/* line 66, sass/threelines.sass */
.threelines[data-frame~="dots"] .line {
  left: 50%;
  border-radius: 100%;
}
/* line 71, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="three"] .line {
  width: 10%;
  height: 10%;
}
/* line 75, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="three"] .line:nth-child(1) {
  top: 25%;
}
/* line 78, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="three"] .line:nth-child(2) {
  top: 50%;
}
/* line 81, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="three"] .line:nth-child(3) {
  top: 75%;
}
/* line 85, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="two"] .line {
  width: 20%;
  height: 20%;
}
/* line 89, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="two"] .line:nth-child(1) {
  top: 35%;
}
/* line 92, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="two"] .line:nth-child(2) {
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}
/* line 98, sass/threelines.sass */
.threelines[data-frame~="dots"][data-frame~="two"] .line:nth-child(3) {
  top: 65%;
}
/* line 102, sass/threelines.sass */
.threelines[data-frame="dot"] .line {
  border-radius: 100%;
}
/* line 105, sass/threelines.sass */
.threelines[data-frame="dot"] .line:nth-child(1) {
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}
/* line 111, sass/threelines.sass */
.threelines[data-frame="dot"] .line:nth-child(2) {
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
}
/* line 117, sass/threelines.sass */
.threelines[data-frame="dot"] .line:nth-child(3) {
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}

/*@ sourceMappingURL=threelines.css.map */